QLineEdit {
    background-color: $colorBgBase;
    height: $height-normal;
    padding: $padding-normal;
    font-size: $font-normal;
    border: $lineWidth $lineType darken($color: $colorBgBase, $amount: 15%);
    border-radius: $borderRadius;
    color: $colorTextBase;

    &:hover {
        border-color: $colorPrimary;
    }
    &:focus {
        border-color: $colorPrimary;
    }
    &:disabled {
        background-color: #f5f5f5;
        border: $lineWidth $lineType #d9d9d9;
        color: #595959;
    }
    &:selected {
        border-color: $colorPrimary;
    }
    &.error {
        border-color: $colorError;
        &:focus {
            border-color: darken($colorError, 15%);
        }
    }
    &.success {
        border-color: $colorSuccess;
        &:focus {
            border-color: darken($colorSuccess, 15%);
        }
    }
    &.warning {
        border-color: $colorWarning;
        &:focus {
            border-color: darken($colorWarning, 15%);
        }
    }
    &.large {
        height: $height-large;
        padding: $padding-large;
        font-size: $font-large;
    }
    &.small {
        height: $height-small;
        padding: $padding-small;
        font-size: $font-small;
    }
}
